<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreZero | Online Shop | Bio Bin</title>
    <link rel="stylesheet" href="style.css" type="text/css">

    <style>
        body{
            margin: 0px;
            font-style: normal;
            font-family: Arial;
        }

        #buyButton{
            height: 75px;
            width: 150px;
            color: white;
            background-color: green;
            border-radius: 5px;
            font-size: 20px;
            transition: transform 0.2s ease-in-out;
            will-change: transform;
        }
        #buyButton:hover{
            transform: scale(1.1);
            z-index: 10;
        }

        #main{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            background-color: lightgray;
        }
        input{
            display: block;
            height: 30px;
            width: 200px;
        }
        #bottom{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        #purchase{
            margin-left: 15px;
        }
        #adress{
            margin-right: 15px;
        }

        #header{
            font-size: 40px;
            background-color: darkgreen;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "sans-serif";

        }
        img{
            width: 600px;
            height: 400px;
        }
        #content{
            max-width: 400px;
        }
        h3{

            font-size: 25px;
        }
        h4{
            color: green;
        }
        label {
            margin-bottom: 50px;
        }

    </style>
    <script>
        function calculateTotalAmount(){
            const quantity = document.getElementById('quantity').value;
            const totalAmount = quantity * 125
            var changeTotalAmount = document.getElementById('totalAmount')
            changeTotalAmount.textContent = "Total Amount: " +totalAmount +"€"
        }
        function sendEmail(){
            alert("Email wurde gesendet")

        }
        function zeigeInhalt() {

            const wantedQuanity = document.getElementById('quantity').value;
            const nameInput = document.getElementById('name').value;
            const emailInput = document.getElementById('email').value;
            const ignore = document.getElementById('totalAmount');
            const totalAmount = ignore.textContent;
            //
            const street_name = document.getElementById('streetName').value;
            const zip = document.getElementById('zip').value;
            const city = document.getElementById('city').value;
            const houseNumber = document.getElementById('houseNumber').value;
            const country = document.getElementById('country').value;



            alert(
                "Your Purchase was executed!" +'\n'+ '\n'+
                "Quantity: " + wantedQuanity + '\n' +
                "Name: " + nameInput + '\n' +
                "Email: " + emailInput + '\n' +
                totalAmount +'\n' +'\n'+
                "Your Adress: " + '\n'+
                nameInput + '\n'+
                street_name + " "+ houseNumber +'\n'+
                city+ ", "+ zip +'\n'+
                country)
        }
    </script>

</head>
<body>
<div id="header">
    <h1>PreZero Online-Shop</h1>
</div>

<div id="main">
    <img src="https://forum.iobroker.net/assets/uploads/files/1572980511251-biotonne.png">
    <div id="content">
        <h3>Bio Bin (100L Volume for Hygienic Daily Use)</h3>
        <p>
            The 100-Liter Bio Bin offers the optimum balance between volume and hygiene for organic waste management.
            Designed to hold the cumulative daily scraps and light garden trimmings, its controlled capacity ensures that
            the contents are emptied frequently before significant decomposition and odour issues arise. The 100L size prevents
            the bin from becoming excessively heavy or creating an unhygienic environment, which is a common problem with larger organic
            waste containers. Constructed with robust, easy-to-clean materials and often featuring integrated ventilation, the Bio Bin keeps
            pests out while facilitating the clean, contained collection of food waste, coffee grounds, and trimmings. Choose the 100L Bio Bin
            for a reliable,
            manageable, and environmentally responsible way to divert organic material into valuable compost and renewable energy.
        </p>
        <h4>125€</h4>
    </div>

</div>


<div id="bottom">
    <div id="adress">
        <input id="streetName" type="text" placeholder="Street Name"><br>
        <input id="houseNumber" type="number" min="0" placeholder="House Number"><br>
        <input id="zip" type="number" min="0" placeholder="ZIP"><br>
        <input id="city" type="text" placeholder="City"><br>
        <input id="country" type="text" placeholder="Country"><br>
    </div>
    <div id="purchase">
        <input id="quantity" min="0" onchange="calculateTotalAmount()" type="number" placeholder="Quantity"><br>
        <input id="name" type="text" placeholder="Name"><br>
        <input id="email" type="email" placeholder="Email"><br>
        <label id="totalAmount">Total Amount: 0€</label>
        <input id="buyButton" type="submit" onclick="zeigeInhalt(); sendEmail()" value="Buy"><br>
       <a target="_blank" href ="http://localhost:8000/test-mail">Hier klicken bittschön</a>

    </div>
</div>
</body>
</html>
