<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreZero | Online Shop | Special Waste Bin</title>
    <link rel="stylesheet" href="style.css" type="text/css">

    <style>
        body{
            margin: 0px;
            font-style: normal;
            font-family: Arial;
        }

        #buyButton{
            height: 75px;
            width: 150px;
            color: white;
            background-color: green;
            border-radius: 5px;
            font-size: 20px;
            transition: transform 0.2s ease-in-out;
            will-change: transform;
        }
        #buyButton:hover{
            transform: scale(1.1);
            z-index: 10;
        }

        #main{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            background-color: lightgray;
        }
        input{
            display: block;
            height: 30px;
            width: 200px;
        }
        #bottom{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        #purchase{
            margin-left: 15px;
        }
        #adress{
            margin-right: 15px;
        }

        #header{
            font-size: 40px;
            background-color: darkgreen;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "sans-serif";

        }
        img{
            width: 600px;
            height: 400px;
        }
        #content{
            max-width: 400px;
        }
        h3{

            font-size: 25px;
        }
        h4{
            color: green;
        }
        label {
            margin-bottom: 50px;
        }

    </style>
    <script>
        function calculateTotalAmount(){
            const quantity = document.getElementById('quantity').value;
            const totalAmount = quantity * 125
            var changeTotalAmount = document.getElementById('totalAmount')
            changeTotalAmount.textContent = "Total Amount: " +totalAmount +"€"
        }
        function zeigeInhalt() {

            const wantedQuanity = document.getElementById('quantity').value;
            const nameInput = document.getElementById('name').value;
            const emailInput = document.getElementById('email').value;
            const ignore = document.getElementById('totalAmount');
            const totalAmount = ignore.textContent;
            //
            const street_name = document.getElementById('streetName').value;
            const zip = document.getElementById('zip').value;
            const city = document.getElementById('city').value;
            const houseNumber = document.getElementById('houseNumber').value;
            const country = document.getElementById('country').value;



            alert(
                "Your Purchase was executed!" +'\n'+ '\n'+
                "Quantity: " + wantedQuanity + '\n' +
                "Name: " + nameInput + '\n' +
                "Email: " + emailInput + '\n' +
                totalAmount +'\n' +'\n'+
                "Your Adress: " + '\n'+
                nameInput + '\n'+
                street_name + " "+ houseNumber +'\n'+
                city+ ", "+ zip +'\n'+
                country)
        }
    </script>

</head>
<body>
<div id="header">
    <h1>PreZero Online-Shop</h1>
</div>

<div id="main">
    <img src="https://greitertransporte.de/wp-content/uploads/2025/04/Sonderabfall.webp">
    <div id="content">
        <h3>Special Waste Bin (The >240L High-Capacity Safety Solution)</h3>
        <p>
            For serious industrial or large-scale hazardous material disposal, you need the High-Capacity Special Waste Bin.
            With volumes exceeding 240 liters, this container is engineered not just for safety, but for the safe bulk collection
            of significant volumes of regulated waste, such as large quantities of solvents, specialized oils, or laboratory effluents.
            This is your robust containment fortress. Its superior size (often taking the form of large drums or custom-built carts) allows
            facilities to consolidate and store waste securely between less frequent, specialist collections. Constructed from heavy-duty,
            certified, and chemically resistant material, it features advanced sealing and locking mechanisms required by law.
            The High-Capacity Special Waste Bin is an essential, compliant investment for operations where safety and large-volume hazardous
            waste
            management are critical. Secure your bulk disposal needs with unmatched capacity and safety.
        </p>
        <h4>200€</h4>
    </div>

</div>


<div id="bottom">
    <div id="adress">
        <input id="streetName" type="text" placeholder="Street Name"><br>
        <input id="houseNumber" type="number" min="0" placeholder="House Number"><br>
        <input id="zip" type="number" min="0" placeholder="ZIP"><br>
        <input id="city" type="text" placeholder="City"><br>
        <input id="country" type="text" placeholder="Country"><br>
    </div>
    <div id="purchase">
        <input id="quantity" min="0" onchange="calculateTotalAmount()" type="number" placeholder="Quantity"><br>
        <input id="name" type="text" placeholder="Name"><br>
        <input id="email" type="email" placeholder="Email"><br>
        <label id="totalAmount">Total Amount: 0€</label>
        <input id="buyButton" type="submit" onclick="zeigeInhalt()" value="Buy"><br>

    </div>
</div>
</body>
</html>
